:root {
  --letter-spacing: -0.06em;
  --link-hover-color: 	#4ebcff;

  /* font metrics */
  --font: 'Sporting Grotesque_Bold';
  --fm-capitalHeight: 0.777;
  --fm-descender: 0.571;
  --fm-ascender: 1.062;
  --fm-linegap: 0.037;
}


* {
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: normal;

  overflow: hidden;

  font-family: 'Sporting Grotesque_Bold';

  visibility: hidden;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: var(--link-hover-color);
}

.active{
  color: var(--link-hover-color) ! important;
}


a:visited{
  color: none;
}

.left{
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.middle{
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.right{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (orientation: portrait){
  .left{
    flex: 1 0 auto;
  }

  .middle{
    flex: 0 0 auto;
  }

  .right{
    display: none;
  }
}

@media screen and (max-aspect-ratio: 11/10){
  .left{
    flex: 1 0 auto;
  }

  .middle{
    flex: 0 0 auto;
  }

  .right{
    display: none;
  }
}

@media (min-width: 280px) and (orientation: landscape){
  .left{
    flex: 1 1 auto;
  }

  .middle{
    flex: 0 0 auto;
  }

  .right{
    flex: 0 1 auto;
  }
}


@media (min-width: 768px) and (orientation: landscape){
  .left{
    flex: 7 1 auto;
  }

  .middle{
    flex: 0 0 auto;
  }

  .right{
    flex: 3 1 auto;
  }
}

@media (min-width: 1024px) and (orientation: landscape){
  .left{
    flex: 6 1 auto;
  }

  .middle{
    flex: 0 0 auto;
  }

  .right{
    flex: 4 1 auto;
  }
}


@media (min-width: 1200px) and (orientation: landscape){
  .left{
    flex: 6 1 auto;
  }

  .middle{
    flex: 0 0 auto;
  }

  .right{
    flex: 4 1 auto;
  }
}

.bottom{
  flex: 9 0 auto;
}

#top-left{
  display: flex;
  flex-direction: row;

  top: 0;
  /* padding-top: 5px;
  padding-bottom: 10px; */
  position: sticky;
}

.heading{
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.heading-large{
  flex: 1 0 auto;
  display: flex;

  flex-direction: column;

}

.heading-large > a {
  /* display: inline-block; */
  /* font-size: var(--computedHeadingFontSize);
  line-height: calc(var(--computedHeadingLineHeight)); */
}

.heading-large > a > div {
  /* display: inline-block; */
  /* font-size: var(--computedHeadingFontSize);
  line-height: calc(var(--computedHeadingLineHeight)); */
}

.heading-large > a > div > span{
  display: inline-block;
  margin-bottom: 10px;

  /* vertical-align: calc(var(--valign) * -1.4vw); */
  /*
  font-size: var(--heading-font-size);
  line-height: calc(var(--heading-adress-line-height) * var(--heading-font-size));
  display: inline-block ;
  font-size: var(--computedHeadingFontSize);
  line-height:  var(--computedHeadingLineHeight);
  letter-spacing: var(--letter-spacing);
  vertical-align: calc(var(--valign) * -1px * 100); */
}

#heading-large-first-span{
  /* vertical-align: calc(var(--valign) * -1.1vw); */
}



.heading-small{


  position: absolute;
  bottom: 0;
  right: 0;

  font-size: 1px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.heading-date{
  flex: 0 0 auto;
  display: block;
}

.heading-date > span {
  display: inline-block;
}

.heading-adress
{
  flex: 0 0 auto;
  display:block;
}

@media (max-width: 768px) and (orientation: portrait){
  .with-street{
    display: none;
  }
}

@media (min-width: 768px) and (orientation: landscape){
  .only-town{
    display: none;
  }
}

#bottom-left{
  display: flex;
  flex-direction: row;
}


.content-wrapper{
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: scroll;

  visibility: hidden;
}

.content-wrapper::-webkit-scrollbar {
  display: none;
}

.content-wrapper{
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}



.img-container{
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}

img{
  object-fit: cover;
  flex: 1;
  width: 0px; /* No idea why this works, but it does */
  cursor: pointer;
}


.side-heading-spacer{
  flex: 1 0 auto;
  align-self: stretch;
}

@media (orientation: portrait) {
  .side-heading-spacer {
    flex: 1 0 auto;
  }
}

@media (orientation: landscape) {
  .side-heading-spacer {
    flex: 0 0 auto;
  }
}

#bottom-middle{
  display: flex;
  flex-direction: column;
}

.side-heading-wrapper{

  position: sticky;
  /* top: var(--heading-height); */
}

.side-heading{
  /* font-size: var(--suture-font-size);
  line-height: var(--suture-line-height); */
  /* transform: rotate(90deg) ; */

  position: absolute;
  transform-origin: top left;
  letter-spacing: var(--letter-spacing);
  padding-top: 8px;
}

#top-right{
}

#bottom-middle{
}

#bottom-right{
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.logo-top {
  position: fixed;
  display: block;


  right: 0;
  top: 0;
}

.logos:hover{
  fill: var(--link-hover-color);
}

.logo-bottom{
  position: fixed;
  display: block;

  right: 0;
  bottom: 0;

}

@media screen and (max-aspect-ratio: 11/10){
  .logo-top{
    display: none;
  }

  .logo-bottom{
    /* height: 10vh ! important; */
    bottom : calc(5vh * 0.45) ! important;
    width: 5vh ! important;
  }
}

.name-list{

  list-style-type: none;
  text-align: right;
  margin-right: 10px;
  margin-left: 35px;
  padding: 0;
  font-size: 1.6vh;
  line-height: 1.1;
}

.name-list > li > a{
  cursor: pointer;
}

.fonts-loaded .fit-font{
       font-family: 'Sporting Grotesque_Bold';
}

@media screen and (min-aspect-ratio: 11/10)
{
  nav{
  display: none;
  }
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  /* margin: 10px; */

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: black;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: var(--link-hover-color);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  position: relative;
  background: black;
  z-index: 1;


  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;

  /* var for animation -> offset in y for translation */
  --translationOffsetY: 3px;
}

#menuToggle span:first-child
{
  transform-origin: 50% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 50% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: translateY(var(--translationOffsetY)) rotate(45deg);
  background: black;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: translateY(calc(-1*var(--translationOffsetY))) rotate(-45deg);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;

  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menu > .name-list{
  text-align: left ! important;
  margin-left: 10px;
}
#menu > div > li
{
  padding: 0;
  font-size: 1.6vh;
  line-height: 1.1;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ div
{
  transform: none;
}





@font-face {
    font-family: 'Sporting Grotesque_Regular';
    src:    url('Regular/Sporting_Grotesque-Regular_web.eot');
    src:    url('Regular/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('Regular/Sporting_Grotesque-Regular_web.woff') format('woff'),
            url('Regular/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
            url('Regular/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
            url('Regular/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sporting Grotesque_Bold';
    src:    url('Bold/Sporting_Grotesque-Bold_web.eot');
    src:    url('Bold/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('Bold/Sporting_Grotesque-Bold_web.woff') format('woff'),
            url('Bold/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
            url('Bold/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
            url('Bold/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
